.form1 {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-bottom: 12px;
}

.form2 {
    display: flex;
    justify-content: center;
    gap: 12px;    
}

.input {
    width: 204px;
}

.buttonForm1 {
    width: 175px;
}

.buttonForm2 {
    width: 362px;
} 


.container {
    display: flex;
    justify-content: center;
    margin-top: 90px;
}

.arrow {
    margin: auto 0;
}