.form {
    display: flex;
    justify-content: center;
}

.input {
    max-width: 380px;
    margin-right: 12px;
}

.container {
    display: flex;
    gap: 16px;
    margin: 48px 148px 0;
    flex-wrap: wrap;
    justify-content: center;
}

.circle {
    margin-bottom: 48px;
}